@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /*font-family: "Noto Sans", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /*font-family: "Montserrat", sans-serif;*/

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: "Noto Sans", sans-serif;
}


/*Header*/

header{
    height: 70px;
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    border-bottom: 1px solid gainsboro;
}

.logo{
    height: 25px;
    margin-left: 25px;
}

header > ul{
    display: flex;
    font-size: 1rem;
}

header > ul > li{
    list-style-type: none;
    margin-left: 23px;
}

header > ul > li:last-child{
    list-style-type: none;
    background-color: #fd4900;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    right: 25px;
}

header > ul > li > a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

/*Fim Header*/

/*inicio lider_cripto*/
.lider_cripto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}

.lider_cripto  div  h1{
    font-size: 4rem;
}

#alternating-text{
    font-size: 28px;
    font-weight: bold;
    color: #fd4900;
    width: 830px;
}

.lider_cripto div #alternating-text{
    font-size: 4rem;
}

.lider_cripto div p{
    font-size: 1.5rem;
    margin-top: 50px;
    letter-spacing: 0.2px;
    color: rgb(91, 97, 110, 1);
}

.lider_cripto input{
    margin-top: 50px;
    height: 20px;
    width: 350px;
    padding: 15px;
    font-size: 1rem;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
}

form [type="submit"]{
    height: 50px;
    width: 180px;
    color: white;
    background-color: #fd4900;
    font-weight: 600;
    font-size: 0.7rem;
    border-style: none;
}

form [type="submit"]:hover{
    cursor: pointer;
}

.lider_cripto > img{
    width: 30%;
    margin-left: 120px;
}

/*Fim lider_cripto*/

/*inicio qualidades*/ 

article.qualidades{
    background-color:#d9d9d9;
    height: 80vh;
}

.qualidades .section1 h2{
    font-size: 2rem;
    font-weight: 400;
}

.qualidades .section1 p{
    font-size: 1.2rem;
    color: rgb(91, 97, 110, 1);
}

.qualidades .section1{
    font-family: "Montserrat", sans-serif;
    padding-left: 15%;
    padding-top: 50px;
}

.qualidades div{
    background-color: #fff;
    width: 20vw
}

.itens{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 1rem;
}

.itens div{
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

.itens h3{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.itens p{
    font-size: 0.9rem;
    color: rgb(91, 97, 110, 1);
}